.contact-us-button {
    background-color:white; /* White background */
    color: black; /* Black text color */
    border: 2px solid black; /* Optional: add a black border */
    padding: 10px 20px; /* Adjust padding for a button-like appearance */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center the text */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover effect */
  }
  
  .about-us-button {
    background-color: white;
    color: black;
  }



  
  .footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 20px;
      width: 100%;
      text-align: center;
      margin: 10px;
      bottom: 0;
      left: 0;
      right: 0;

  }
    
  